.MuiTableCell-root {
  padding: 0 !important;
}

.MuiTableCell-root:last-child {
  padding-right: 0 !important;
}

.MuiButtonBase-root:focus {
  outline: 0
}

.MuiBox-root {
  background-color: #00000021;
}